<!DOCTYPE html>
<html>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <h1 style="color: #00883a">Board Status</h1>
    <table style="width: 80%">
      <tr>
        <th>Board</th>
        <th>Last Boot</th>
        <th>Active?</th>
      </tr>
      <tr>
        <td>{{board1}}</td>
        <td>{{boot1}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board2}}</td>
        <td>{{boot2}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board3}}</td>
        <td>{{boot3}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board4}}</td>
        <td>{{boot4}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board5}}</td>
        <td>{{boot5}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board6}}</td>
        <td>{{boot6}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board7}}</td>
        <td>{{boot7}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board8}}</td>
        <td>{{boot8}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board9}}</td>
        <td>{{boot9}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board10}}</td>
        <td>{{boot10}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board11}}</td>
        <td>{{boot11}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board12}}</td>
        <td>{{boot12}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board13}}</td>
        <td>{{boot13}}</td>
        <td>{{active1}}</td>
      </tr>
      <tr>
        <td>{{board14}}</td>
        <td>{{boot14}}</td>
        <td>{{active1}}</td>
      </tr>
    </table>
  </body>
</html>
